<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hotel_id %><br />
    <%= f.number_field :hotel_id %>
  </div>
  <div class="field">
    <%= f.label :room_number %><br />
    <%= f.number_field :room_number %>
  </div>
  <div class="field">
    <%= f.label :room_price %><br />
    <%= f.number_field :room_price %>
  </div>
  <div class="field">
    <%= f.label :room_discount %><br />
    <%= f.number_field :room_discount %>
  </div>
  <div class="field">
    <%= f.label :room_service %><br />
    <%= f.text_field :room_service %>
  </div>
  <div class="field">
    <%= f.label :room_image %><br />
    <%= f.text_field :room_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
