<h1>Listing reserves</h1>

<table>
  <tr>
    <th>User</th>
    <th>Hotel</th>
    <th>Room</th>
    <th>Check in</th>
    <th>Check out</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reserves.each do |reserf| %>
  <tr>
    <td><%= reserf.user_id %></td>
    <td><%= reserf.hotel_id %></td>
    <td><%= reserf.room_id %></td>
    <td><%= reserf.check_in %></td>
    <td><%= reserf.check_out %></td>
    <td><%= link_to 'Show', reserf %></td>
    <td><%= link_to 'Edit', edit_reserf_path(reserf) %></td>
    <td><%= link_to 'Destroy', reserf, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reserve', new_reserf_path %>
